@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    background-color: #0f0f1a;
    overflow-x: hidden;
}

.header {
    border: 3px solid #7c44ff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 10px;
    padding: 15px 15px;
    background-color: #1a1a2e;
    border-radius: 20px;
    box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.3);
}
.logo-place {
    display: flex;
    justify-content: flex-start;
}
.logo {
    max-width: 40px;
    fill: #7c44ff;
}
.logo-text {
    padding-left: 10px;
    margin: auto;
    color: #7c44ff;
    font-size: 30px;
    text-decoration: none;
    font-family: Sansation;
    font-weight: 800;
}
.burger {
    display: none;
    font-weight: 800;
    padding: 11.725px 15px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    background-color: #9466ff;
    transition: 0.1s;
}
.burger:hover {
    outline: 3px solid #ffffff;
    transform: scale(1.04);
}
.burger:active {
    transform: scale(0.95);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    flex: 1;
}
.navbar a {
    text-decoration: none;
    font-size: 20px;
    font-family: Sansation;
    font-weight: 600;
    color: #9466ff;
    transition: 0.1s;
}
a:hover {
    color: #ffffff;
    transform: scale(1.04);
}
.log-in {
    text-decoration: none;
    font-family: Sansation;
    font-weight: 800;
    border: none;
    background-color: #9466ff;
    color: #ffffff;
    padding: 0px 20px;
    border-radius: 10px;
    transition: 0.1s;
}
.log-in:hover {
    outline: 3px solid #ffffff;
    transform: scale(1.04);
}
.log-in:active {
    transform: scale(0.95);
}

.bg-glow {
  position: absolute;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, rgba(124,68,255,0.25), transparent 70%);
  filter: blur(40px);
  z-index: -1;
}
.glow-left1 {
    top: 150px;
    left: -150px;
}
.glow-right1 {
    top: 150px;
    right: -150px;
}
.glow-left2 {
  top: 760px;
  left: -150px;
}
.glow-right2 {
    top: 760px;
    right: -150px;
}

.main-block {
    max-width: 1280px;
    margin: 0 auto;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-text {
    text-decoration: none;
    font-size: 60px;
    font-family: Sansation;
    font-weight: 600;
    color: #ffffff;
    border: 3px solid #9466ff;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.second-text {
    text-decoration: none;
    font-family: Sansation;
    font-weight: 200;
    color: #b5b5c7;
}
.main-button {
    text-decoration: none;
    font-family: Sansation;
    font-size: 30px;
    font-weight: 900;
    border: none;
    background-color: #9466ff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.1s;
}
.second-button {
    width: 313.86px;
    text-decoration: none;
    font-family: Sansation;
    font-size: 30px;
    font-weight: 900;
    border: 3px solid #9466ff;
    background-color: transparent;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: 0.1s;
}
.main-button:hover {
    outline: 3px solid #ffffff;
    transform: scale(1.04);
}
.main-button:active {
    transform: scale(0.95);
}
.second-button:hover {
    border: 3px solid #ffffff;
    transform: scale(1.04);
}
.second-button:active {
    transform: scale(0.95);
}

.container {
    display: flex;
    flex-direction: column;
}

.adv-text {
    display: flex;
    margin: 0 auto;
}
.adv-text h2 {
    margin-top: 45px;
    font-family: Sansation;
    font-size: 30px;
    font-weight: 900;
    color: #9466ff;
    padding: 5px 10px;
    border-bottom: 3px solid #ffffff;
}
.carts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 0 auto;
}
.cart {
    background-color: #1a1a2e;
    border-radius: 20px;
    border: 1px solid #7c44ff;
    padding: 20px 20px;
    max-width: 420px;
    box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.3);
    transition: 0.2s;
}
.cart:hover {
    border: 1px solid #ffffff;
    transform: translateY(-5px)
}
.cart h3 {
    color: #ffffff;
    margin: 0;
    font-family: Sansation;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
}
.cart p {
    font-family: Sansation;
    font-weight: 400;
    color: #a1a1b0;
    margin: 0;
}

.price {
    display: flex;
    margin: 0 auto;
}
.price-text {
    margin: 0 auto;
}
.price-text h2 {
    margin-top: 45px;
    font-family: Sansation;
    font-size: 30px;
    font-weight: 900;
    color: #9466ff;
    padding: 5px 10px;
    border-bottom: 3px solid #ffffff;
}
.price-blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 auto;
}
.p-block {
    background-color: #1a1a2e;
    border-radius: 20px;
    border: 1px solid #7c44ff;
    padding: 20px 20px;
    max-width: 420px;
    box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.3);
    transition: 0.2s;
}
.block-s button {
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: center;
    font-family: Sansation;
    border: none;
    font-weight: 800;
    font-size: 25px;
    padding: 20px 80px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #38c31c;
    box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.3);
    transition: 0.2s;
}
.p-block button:hover {
    transform: scale(1.04);
}
.p-block button:active {
    transform: scale(0.95);
    background-color: transparent;
}
.block-s h3 {
    background: linear-gradient(90deg, #38c31c, #1aff00);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.block-p h3 {
    background: linear-gradient(90deg, #ffc800, #ffc800);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.block-p button {
        display: flex;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: center;
    font-family: Sansation;
    border: none;
    font-weight: 800;
    font-size: 25px;
    padding: 20px 80px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #f4c107;
    box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.3);
    transition: 0.2s;
}
.p-block h3 {
    font-family: Sansation;
    font-weight: 900;
    font-size: 38px;
    margin: 0 auto;
}
.p-block p {
    color: #e2e2e2;
    font-family: Sansation;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 15px;
}
.p-block ul {
    font-family: Sansation;
    font-weight: 600;
    margin: 0 auto;
    color: #b5b5c7;
}
.p-block li {
    padding-bottom: 5px;
}
.footer {
  background-color: #0f0f1a;
  border: 1px solid #7c44ff;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  padding: 15px;
}
.copyright p {
  margin: 0 auto;
  font-family: Sansation;
  color: #ffffff;

}





@media (max-width: 960px) {
  .glow-left2 {
  top: 1000px;
  left: -150px;
}
.glow-right2 {
    top: 1000px;
    right: -150px;
}
    .carts {
        grid-template-columns: repeat(2, 1fr);
    }
    .main-text {
        text-align: center;
    }
    .second-text {
        text-align: center;
    }
}
@media (max-width: 768px) {
    .navbar a {
        display: none;
    }
    .burger {
        display: block;
    }
    .main-text {
        text-align: center;
    }
    .second-text {
        text-align: center;
    }
}

@media (max-width: 650px) {
    .price-blocks {
    grid-template-columns: repeat(1, 1fr);;
    }
    .main-text {
        font-size: 45px;
        text-align: center;
        .second-text {
        text-align: center;
        }
    }
}

@media (max-width: 480px) {
  .glow-left2 {
  top: 1400px;
  left: -150px;
}
.glow-right2 {
    top: 1400px;
    right: -150px;
}
.main-text {
    font-size: 25px;
    text-align: center;
}
.second-text {
    text-align: center;
}
.carts {
grid-template-columns: repeat(1, 1fr);
}
}
